.d1 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    background-color: black;
    z-index: 1;
}
.d2 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    color: yellow;
    z-index: 2;
}